<html>

	<head>

		<title>Animals</title>
        
	</head>
       
	<body>

		<div>
                
			<h1><a href="">Welcome to Olya's blog aboout animals</a></h1>
            
		</div>

            

		<div>
                
			<p>published: 14.04.2016, 12:14</p>
                
			<h2><a href="">Chameleons</a></h2>
                
			<p>Chameleons can throw tongue by a distance equal to half the body length. Furthermore, their eyes are able to rotate independently of each other, so chameleon can look in all directions without moving the head simultaneously.</p>
            
		</div>

           
		
		<div>
                
			<p>published: 14.04.2016, 12:14</p>
                
			<h2><a href="">Tigers</a></h2>
                
			<p>Tigers have striped skin</p>
            
		</div>

            

		<div>
                
			<p>published: 14.04.2016, 12:14</p>
                
			<h2><a href="">Fish of Antarctica</a></h2>
                
			<p>Blood temperature of fish at the Antarctic can reach 1.7 degrees below zero.</p>
            
		</div>

            
		
		<div>
                
			<p>published: 14.04.2016, 12:14</p>
                
			<h2><a href="">Cochleas</a></h2>
                
			<p>The speed of the cochlea - about 1.5 mm / sec.</p>
            
		</div>

            

		<div>
                
			<p>published: 14.04.2016, 12:14</p>
                
			<h2><a href="">Cats</a></h2>
                
			<p>Falling cat from the 12th floor more likely to survive than cat which falls from the 7th floor.</p>
            
		</div>

</html>